  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  }

  header {
    margin: auto;
    display: flex;
    font-size: 2em;
    padding-bottom: 1rem;
    color: darkgoldenrod;
  }

  main {
    width: 50%;
    border: 2px solid #804000;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  section {
    text-align: center;
    border: 2px solid #009933;
    background-color:  #ecf9f2;
    padding: 1rem;
    border-radius: 5px;
    color: #26734d;
  }

  button {
    border-radius: 5px;
    background-color: #339966;
    border: 2px solid  #206040;
    font-size: 1.3em;
    padding: .8rem;
    margin: 5%;
    color: whitesmoke;
  }

  button:hover {
    border-radius: 5px;
    background-color: #40bf80;
    border: 2px solid  #206040;
    font-size: 1.3em;
    padding: .8rem;
    margin: 5%;
    color: whitesmoke;
    cursor: pointer;
  }